services:
  db:
    image: mysql:8.0
    container_name: isoassetmanager-db
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: isoassetmanager
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - iso-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    ports:
      - "8081:8081"
    volumes:
      - ./uploads:/app/uploads
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/isoassetmanager?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 1234
    depends_on:
      db:
        condition: service_healthy
    networks:
      - iso-network

networks:
  iso-network:
    driver: bridge

volumes:
  db_data: